body {
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
}

.wrapper {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    order: 1;
    background: #34515E;
}

.hamburger-menu {
    height: 30px;
    width: 35px;
    display: none;
    padding: 10px;
}

.navigation {
    list-style: none;
    margin: 0;
    background: #34515E;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    align-items: center
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    /* height */
}

.navigation a:hover {
    background: #1565C0;
}


.footer-basic {
    width: 100%;
    max-height: 10vh;
    min-height: 10vh;
    order: 5;
    background: #34515E;
    color:#4b4c4d;
}

.footer {
    list-style: none;
    margin: 0;
    background: #34515E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    align-items: center
}
.footer a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    /* height */
}   

.footer p {
    text-decoration: none;
    display: block;

    color: white;
}   



.main {
    order: 3;
    flex: 4;
    min-height: 90vh;
    text-align: left;
    background: #607D8B;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.makePost {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding:3%;
    margin: 2%;
    border-radius: 10px;
}

.make-post {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* text-align: center; */
    align-items: center;
    background-color: #8EACBB;
    width:50%;
    padding: 3%;
    border-radius: 10px;
}

.make-post>* {
    width: 100%;
}

.post {
    background-color: #8EACBB;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    min-width: 200px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

img {
    max-width: 100px;
}

.post > img {
    max-width: 100px;
}

.aside {
    background-color: #D9D9D9;
    flex: 1;
}

.aside-1 {
    order: 2;
}

.aside-2 {
    order: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



@media (min-width:600px) and (max-width:900px){
    .main {
        order: 2;
        min-width: 100%;
    }

    .aside-1 {
        width: 50%;
        order: 3; 
        border-right: 4px ridge grey;
    }

    .aside-2 {
        width: 50%;
        order: 4;
    }
}

@media (max-width:600px){
    .main {
        order: 2;
        min-width: 100%;
    }

    .aside-1 {
        min-width: 100%;
        order: 3;
        border-bottom: 4px ridge grey;
    }

    .aside-2 {
        min-width: 100%;
        order: 4;
    }

    .header {
        flex-direction: column;
        z-index: 1;
        min-height: 10vh;
    }

    .header-top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger-menu {
        display: initial;
    }

    .navigation {
        display: none;
        justify-content: space-evenly;
    }
}
